<div id="content-wrap">
  <div class="left-column">
    <div class="title-box">
      Resend confirmation instructions
    </div>
  
    <div class="log-form">
      <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <%= f.full_error :confirmation_token %>
      
        <%= f.input :email, autofocus: true %>
      
        <%= f.button :submit, "Resend confirmation instructions" %>
      <% end %>
    </div>
  </div>
  
  <div class="right-column">
    <div class="side-box"> 
      <div class="side-content">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>