<%= simple_form_for @blog do |f| %>
  <p><%= f.input :title %></p>
  <p><%= f.trix_editor :body %></p>
  <p><%= f.label :tag_list, 'Tags (separated by commas)' %> <em>Example: fitness, weight loss, marathon</em></p>
  <p><%= f.text_field :tag_list %></p>
  <p><%= f.submit %></p>
<% end %>