<div class="log-form">
  <%= simple_form_for @blog do |f| %>
  
    <% if @blog.errors.any? %>
      <div class="alert">
        <h2><%= pluralize(@glob.errors.count, "error") %> prohibited this post from being saved:</h2>
     
        <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= f.text_field :title, placeholder: 'Title' %><br />
    <%= f.text_area :content, placeholder: 'Content', rows: 6 %>
    <div class="helper"><div class="small">#creates a heading&nbsp;&nbsp;&nbsp;&nbsp;<em>_creates italics_</em>&nbsp;&nbsp;&nbsp;&nbsp;<strong>**creates bold**</strong> 
    &nbsp;&nbsp;&nbsp;&nbsp;```backtick to escape code```&nbsp;&nbsp;&nbsp;&nbsp;use a > to quote&nbsp;&nbsp;&nbsp;&nbsp;get formatting help</div></div><br />
    <%= f.text_field :tag_list, placeholder: 'Add up to 5 tags (separated by commas)', value: @blog.tag_list.join(", ") %>
    <div class="small"><em>Example: fitness, weight loss, marathon</em></div><br />
    <%= f.submit %>
  <% end %>
</div>

