<div id="wrapper">
    <% @blogs.each do |blog| %>
      <div class="index-boxes">
        <div class="index-title"><%= link_to blog.title, blog %></div>
        
        <div class="date-right">
          Posted <%= time_ago_in_words(blog.created_at) %> ago by <%= link_to blog.user.username, user_path(blog.user) %>
          &nbsp;&nbsp;
          <%= 
            if blog.user.picture?
              image_tag blog.user.picture, width: 15, alt: 'user avatar'
            else
              image_tag 'default_avatar.jpg', width: 15, alt: 'default user avatar'
            end
          %>          
        </div>
        
        <div class="date">
          <i class="fa fa-comments"></i>&nbsp;&nbsp;<%= blog.comments.count %> comments&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-tags"></i>&nbsp;&nbsp;<%= raw(blog.tag_list.map { |t| link_to t, tag_path(t) }.join(' , ')) %>
        </div>
        
      </div>
    <% end %>
</div>
