<div id="wrapper">
    <% @blogs.each do |blog| %>
      <div class="index-boxes">
        <div class="index-title"><%= link_to blog.title, blog %></div>
        
        <div class="date-right">
          Posted <%= time_ago_in_words(blog.created_at) %> ago by <%= link_to blog.user.username, user_path(blog.user) %>
          &nbsp;&nbsp;
          <%= 
            if blog.user.picture?
              link_to user_path(blog.user) do
                image_tag blog.user.picture, width: 15, alt: 'user avatar'
              end
            else
              link_to user_path(blog.user) do
                image_tag 'default_avatar.jpg', width: 15, alt: 'default user avatar'
              end
            end
          %> 
          </div>
        
        <div class="date">
          <i class="fa fa-comments"></i>&nbsp;&nbsp;<%= blog.comments.count %>&nbsp;<%= link_to "comments", blog %>&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-tags"></i>&nbsp;&nbsp;<%= raw(blog.tag_list.map { |t| link_to t, tag_path(t) }.join(' , ')) %>&nbsp;&nbsp;&nbsp;
          
          <%= link_to like_blog_path(blog), method: :put do %><i class="fa fa-chevron-up"></i><% end %>&nbsp;<%= blog.get_upvotes.size %>&nbsp;&nbsp;
          <%= link_to dislike_blog_path(blog), method: :put do %><i class="fa fa-chevron-down"></i><% end %>&nbsp;<%= blog.get_downvotes.size %>
        </div>
        
      </div>
      
    <% end %>
  </div>
