<div id="glips-wrapper">
  <div class="glips">
    <h3><%= @blog.title %></h3>
      <div class="date">Posted <%= time_ago_in_words(@blog.created_at) %> ago by <%= link_to @blog.user.username, user_path(@blog.user) %></div>
      <p class="content">
        <%= @blog.body %>
      </p>
      <%= link_to "Edit", edit_blog_path(@blog) %>
      <%= link_to "Delete", blog_path(@blog), method: :delete, data: { confirm: "Are you sure?" } %>
      <%= link_to "List", blogs_path %>
  </div>
</div>

<h3>Comments</h3>
<%= render "comments/form" %>
<%= render "comments/comments" %>
