<div class="glips">
  <% if (user_signed_in? && (current_user.id == @blog.user_id)) %>
  <div class="content-alter">
    <%= link_to edit_blog_path(@blog) do %><i class="fa fa-pencil"></i><% end %> &nbsp;&nbsp;
    <%= link_to blog_path(@blog), method: :delete, data: { confirm: "Are you sure?" } do %><i class="fa fa-times"></i><% end %>
  </div>
  <% end %>
  
<div class="post-title"><%= @blog.title %></div>
    <div class="date">
      Posted <%= time_ago_in_words(@blog.created_at) %> ago by <%= link_to @blog.user.username, user_path(@blog.user) %>
    </div>
    
    <div class="date">
      <i class="fa fa-tags"></i>&nbsp;&nbsp;<%= raw(@blog.tag_list.map { |t| link_to t, tag_path(t) }.join(' , ')) %>
    </div>  
    
    <div class="content">
      <%= @blog.body.html_safe %>
    </div>

</div>

<h3>Comments</h3>
<%= render "comments/form" %><br/>
<%= render "comments/comments" %>
