<div id="content-wrap">
  
    <div class="left-column">
      <% if (user_signed_in? && (current_user.id == @blog.user_id)) %>
        <div class="content-alter">
          <%= link_to edit_blog_path(@blog) do %><i class="fa fa-pencil"></i><% end %> &nbsp;&nbsp;
          <%= link_to blog_path(@blog), method: :delete, data: { confirm: "Are you sure?" } do %><i class="fa fa-trash"></i><% end %>
        </div>
      <% end %>
      
      <div class="title-box">
        <%= @blog.title %>
      </div>
      
      <div class="avatar-show">
        <%= 
          if @blog.user.picture?
            link_to user_path(@blog.user) do
              image_tag @blog.user.picture, width: 65, alt: 'user avatar'
            end
          else
            link_to user_path(@blog.user) do
              image_tag 'default_avatar.jpg', width: 65, alt: 'default user avatar'
            end
          end
        %>      
      </div>

      <div class="details-show">
          posted by <%= link_to @blog.user.username, user_path(@blog.user) %>&nbsp;<%= time_ago_in_words(@blog.created_at) %> ago&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-lock"></i>&nbsp;&nbsp;<%= @blog.status %>&nbsp;&nbsp;<br/>
          <%= link_to like_blog_path(@blog), method: :put do %><i class="fa fa-chevron-up"></i><% end %>&nbsp;<%= @blog.get_upvotes.size %>&nbsp;&nbsp;
          <%= link_to dislike_blog_path(@blog), method: :put do %><i class="fa fa-chevron-down"></i><% end %>&nbsp;<%= @blog.get_downvotes.size %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-comments"></i>&nbsp;&nbsp;<%= @blog.comments.count %><br />
          <% @blog.tag_list.map.each do |tag| %>
            <div class="tags"><%= link_to tag, tag_path(tag) %></div>
          <% end %>
      </div>
      
      <div class="content-show">
          <%= markdown @blog.content %>
      </div>
      
      <div class="content-show">
        <em><i class="fa fa-comments"></i>&nbsp;&nbsp;<%= @blog.comments.count %> Comments</em>
        <div class="comments-wrap">
          <%= render "comments/form" %><br/>
          <%= render "comments/comments" %>
        </div>
      </div>

    </div>
    
  <div class="right-column">
  </div>

</div>