<div id="content-wrap">
  
  <div class="title-box">
    Editing <%= resource_name.to_s.humanize %> Profile
  </div>

  <div class="log-form">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
      <%= f.error_notification %>
    
      <fieldset>
        <legend>Basic Info</legend>
        <%= f.text_field :email, placeholder: 'Email cannot be blank' %>
    
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        
        <%= f.label :bio %><br />
        <%= f.text_area :bio, placeholder: 'Bio', rows: 2 %><br />
        
        <%= f.label :website %><br />
        <%= f.text_field :website %><br />
        <%= f.label :city %><br />
        <%= f.text_field :city %><br />
        <%= f.label :country %><br />
        <%= f.text_field :country %><br />
      </fieldset>
        
      <fieldset>
        <legend>Avatar</legend>
        <br/>
          <label class="upload-button">Upload Profile Image<%= f.file_field :picture, style: 'display:none;' %>
          </label>
        <div class="small"><br/><em>For best results, upload an image of the same height and width.</em></div>
      </fieldset>
    
      <fieldset>
        <legend>Change Your Password</legend>
        <b style="color: #dc0000;"><em>Just leave these blank if you don't want to change your password</em></b><br /><br />
        <%= f.password_field :password, placeholder: 'password', autocomplete: "off", required: false %><br />
        <%= f.password_field :password_confirmation, placeholder: 'password confirmation', required: false %><br />
      </fieldset>
      
      <%= f.button :submit, "Update" %>
      <br />
      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
      <%= link_to "Back", :back %>
    
    <% end %>
  
  </div>
      
</div>