<div id="content-wrap">
  <div class="left-column">
    
    <div class="title-box">
      Sign Up
    </div>

    <div class="log-form">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        
        <%= devise_error_messages! %>
      
        <fieldset>
          <legend>Basic Info</legend>
          <div class="small"><em>Choose wisely. You won't be able to change your username later.</em></div>
          <%= f.text_field :username, autofocus: true, placeholder: 'Username cannot be blank' %><br />
          <%= f.text_field :email, placeholder: 'Email cannot be blank' %><br />
        </fieldset>
        
        <fieldset>
          <legend>Birthdate</legend>
          <div class="small"><em>Required for certain age-appropriate features. This information is not displayed anywhere. You won't be able to change this later.</em></div>
          <%= f.date_select :birthdate, { :include_blank => true, :start_year => 1917 } %>
        </fieldset>
        
        <fieldset>
          <legend>Password</legend>
          <%= f.password_field :password, placeholder: 'password', autocomplete: "off" %><br /><br />
          <%= f.password_field :password_confirmation, placeholder: 'retype your password' %>
        </fieldset>
      
        <%= f.button :submit, "Register", data: { confirm: "Last chance to change username or birthdate" } %>
        
      <% end %>
      
    </div>
    
  </div>
  
  <div class="right-column">
    <div class="side-box"> 
      <div class="side-content">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  
</div>