<% @comments.each do |comment| %>

<div class="comments">
  
  <div class="comments-left-column">
    <div class="comments-center">
      <% if @commentable = @glip %>
        <%= link_to like_glip_comment_path(@glip, comment), method: :put, remote: true do %><i class="fa fa-chevron-up" title="upvotes"></i><% end %><br />
        <div id="upvote-<%= comment.id %>" style="display: inline;"><%= comment.get_upvotes.size %></div><br /><br />
        <div id="downvote-<%= comment.id %>" style="display: inline;"><%= comment.get_downvotes.size %></div><br />
        <%= link_to dislike_glip_comment_path(@glip, comment), method: :put, remote: true do %><i class="fa fa-chevron-down" title="downvotes"></i><% end %>
      <% else %>
        <%= link_to like_article_comment_path(@article, comment), method: :put, remote: true do %><i class="fa fa-chevron-up" title="upvotes"></i><% end %><br />
        <div id="upvote-<%= comment.id %>" style="display: inline;"><%= comment.get_upvotes.size %></div><br /><br />
        <div id="downvote-<%= comment.id %>" style="display: inline;"><%= comment.get_downvotes.size %></div><br />
        <%= link_to dislike_article_comment_path(@article, comment), method: :put, remote: true do %><i class="fa fa-chevron-down" title="downvotes"></i><% end %>
      <% end %>
    </div>
  </div>
  
  <div class="comments-center-column">
    <div class="comments-center">
      <%= 
        if comment.user.picture?
          link_to user_path(comment.user) do
            image_tag comment.user.picture, width: 64, alt: 'user avatar'
          end
        else
          link_to user_path(comment.user) do
            image_tag 'default_avatar.jpg', width: 64, alt: 'default user avatar'
          end
        end
      %><h3 style="margin: 0 auto;"><%= link_to comment.user.username, user_path(comment.user) %></h3>
      <%= comment.user.reputation %>
    </div>
  </div>
  
  <div class="comments-right-column">
    <div class="comment-content" style="display: inline-block;">
      <div class="comments-small">
      <em>Posted <%= time_ago_in_words(comment.created_at) %> ago</em>
      
      <% if (user_signed_in? && (current_user.id == comment.user_id)) %>
        <div class="comments-alter">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <% if @commentable = @glip %>
            <%= link_to edit_glip_comment_path(@glip, comment) do %><i class="fa fa-pencil" title="edit"></i><% end %> &nbsp;&nbsp;
            <%= link_to glip_comment_path(@glip, comment), method: :delete, data: { confirm: "Are you sure?" } do %><i class="fa fa-trash" title="delete"></i><% end %><br />
          <% else %>
            <%= link_to edit_article_comment_path(@article, comment) do %><i class="fa fa-pencil" title="edit"></i><% end %> &nbsp;&nbsp;
            <%= link_to article_comment_path(@article, comment), method: :delete, data: { confirm: "Are you sure?" } do %><i class="fa fa-trash" title="delete"></i><% end %><br />
          <% end %>
        </div>
      <% end %>
      
      </div>
      <%= comment.content.html_safe %><br />
      <% if comment.youtube? %>
        <iframe width="420" height="236" src='https://www.youtube.com/embed/<%= comment.youtube %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
      <% end %>
      <br />
    </div>
  <div class="comment-content">
    <% if comment.notations.any? %>
      <%= render 'notations/notations', comment: comment %>
    <% end %>
    <div class="content-alter" style="margin-top: 0;">
      <div class="notation-reply">
      <% if @commentable = @glip %>
        <%= link_to "reply", new_glip_comment_notation_path(@glip, comment) %>
      <% else %>
        <%= link_to "reply", new_article_comment_notation_path(@article, comment) %>
      <% end %>
      </div>
    </div>
  </div>
  </div>

</div>
<% end %>