<div class="log-form">
  <%= simple_form_for @article do |f| %>
  
    <% if @article.errors.any? %>
      <div class="alert">
        <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
     
        <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= f.text_field :title, placeholder: 'Title' %><br />
    
    <%= f.text_area :content, placeholder: 'Content', rows: 15 %>
  
    <div class="small"><b><div id="markdown"><%= link_to "#" , :remote => true do %><i class="fa fa-chevron-down"  aria-hidden="true"></i>&nbsp;Formatting Help<% end %></b></div></div><br />
    
    <%= f.text_field :tag_list, placeholder: 'tags', value: @article.tag_list.join(", ") %>
    <div class="small"><em>Add up to 5 tags (separated by commas). Example: fitness, weight loss, marathon</em></div><br />
    
    <%= f.radio_button :status, 'published' %> 
    <%= label :status_published, 'Published' %>
    <%= f.radio_button :status, 'draft' %>
    <%= label :status_draft, 'Draft' %>
    <div class="small"><em>You can toggle article status directly from the article as well.</em></div><br />
    
    <%= f.submit %>
  <% end %>
</div>

