<div class="log-form">
  <%= simple_form_for @article do |f| %>
  
    <% if @article.errors.any? %>
      <div class="alert">
        <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
     
        <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= f.text_field :title, placeholder: 'Title' %><br />
    
    <%= f.text_area :content, placeholder: 'Content', rows: 15 %>
  
    <div class="helper"><div class="small">#creates a heading&nbsp;&nbsp;&nbsp;&nbsp;<em>_creates italics_</em>&nbsp;&nbsp;&nbsp;&nbsp;<strong>**creates bold**</strong> 
    &nbsp;&nbsp;&nbsp;&nbsp;```backtick to escape code```&nbsp;&nbsp;&nbsp;&nbsp;use a > to quote&nbsp;&nbsp;&nbsp;&nbsp;get formatting help</div></div><br />
    
    <%= f.text_field :tag_list, placeholder: 'Add up to 5 tags (separated by commas)', value: @article.tag_list.join(", ") %>
    <div class="small"><em>Example: fitness, weight loss, marathon</em></div><br />
    
    <%= f.radio_button :status, 'published' %> 
    <%= label :status_published, 'Published' %>
    <%= f.radio_button :status, 'draft' %>
    <%= label :status_draft, 'Draft' %>
    <div class="small"><em>You can toggle article status directly from the article as well.</em></div><br />
    
    <%= f.submit %>
  <% end %>
</div>

