<%= content_for(:meta_og) do %>
    <meta property="og:title" content="<%= @article.title %>" />
    <meta property="og:type" content="article" />
    <meta property="og:published_time" content="<%= @article.created_at.strftime('%Y-%m-%d %H:%M') %>" />
    <meta property="og:description" content="<%= @article.content.html_safe.truncate(250) %>" />
    <% if @article.image %>
      <meta property="og:image" content="<%= @article.image.url %>" />
    <% end %>
<% end %>
<div id="content-wrap">
  
  <div class="left-column">
    <%= render 'header' %>
    <%= render 'content' %>
    <%= render 'comments' %>
  </div>
    
  <div class="right-column">
    <%= render 'sidebar' %>
  </div>

</div>