<div class="side-box"> 
    <div class="small">
      <div class="center">
        <div id="join_form" style="display: inline;"><%= render 'memberships/join_form' if user_signed_in? %></div>
      </div>
    </div>
</div>
  <br />
  
<div class="side-box"> 
  <div class="content-center">
    <%= link_to group_path(@group) do %>
      <%= if @group.picture?
        image_tag @group.picture, width: 160, alt: 'group image' 
      else
        image_tag 'default_avatar.jpg', width: 160, alt: 'group image'
      end %>
    <% end %>
  </div>
</div>
  <br />
  
<div class="side-box"> 
  <div class="side-content">
    <%= @group.description %><br />
      <div class="side-content">
        <i class="fa fa-user"></i>&nbsp;&nbsp;<div id="members" style="display: inline;"><%= @group.users.size %></div>&nbsp; <%= link_to "members", members_group_path(@group) %><br />
      </div>
      
      <div class="side-content">
        <i class="fa fa-rocket"></i>&nbsp;&nbsp;Creator: <%= link_to @creator.username, user_path(@creator) %><br />
      </div>
      
      <div class="side-content">
        <i class="fa fa-history"></i>&nbsp;&nbsp;Group created <%= time_ago_in_words(@group.created_at) %> ago<br />
      </div>

      <% @group.tag_list.map.each do |tag| %>
        <div class="tags"><%= link_to tag, tag_path(tag) %></div>
      <% end %>
    </div>
  </div>
</div> 