<div id="content-wrap">
  <div class="left-column">
    <% if current_user.id == @group.user_id || current_user.has_roles?(:admin) %>
        
      <div class="title-box">
        Editing <%= @group.title %>
      </div>
  
      <div class="log-form">
          
        <%= simple_form_for @group do |f| %>
          
          <% if @group.errors.any? %>
            <div class="alert">
              <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>
           
              <ul>
              <% @group.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
            
          <% if logged_in?(:admin) %>
            <%= f.text_field :title, placeholder: 'Group Name' %><br />
          <% end %>
          
          <%= f.text_area :description, placeholder: 'Description', rows: 3, :maxlength => 300 %><br />
          
          <%= f.text_field :tag_list, placeholder: 'Add up to 5 tags (separated by commas)', value: @group.tag_list.join(", ") %>
          <div class="small"><em>Example: fitness, weight loss, marathon</em></div><br />
          
          <fieldset>
            <legend>Image</legend>
              <br />
              <label class="upload-button">Upload Group Image<%= f.file_field :picture, style: 'display:none;' %>
              </label>
              <div class="small"><br/><em>For best results, upload an image of the same height and width.</em></div>
    
            <br />
            <label class="upload-button">Upload Icon Image<%= f.file_field :icon, style: 'display:none;' %>
            </label>
            <div class="small"><br/><em>For best results, upload an image of the same height and width.</em></div>
            
            <br />
            <label class="upload-button">Upload Banner Image<%= f.file_field :banner, style: 'display:none;' %>
            </label>
            <div class="small"><br/><em>This image must be 950px wide by 80px tall!</em></div>
          </fieldset>
    
          <%= f.submit %>
          
        <% end %>
      </div>   
      
    <% else %>
      <div class="alert">You do not have permission to access this page.</div>
    <% end %>
  </div>
  
  <div class="right-column">
    <div class="side-box"> 
      <div class="side-content">
        <%= link_to 'Cancel', @group %> | <%= link_to 'Back', groups_path %>
      </div>
    </div>
  </div>
</div>