<div id ="index-nav-container">
  <div class = "table-row">
    <div class="table-cell"><h3>Groups</h3></div>
    <div class="table-cell"><div class="index-top-buttons"><div class="current-button"><%= link_to "latest", groups_path %></div></div></div>
    <div class="table-cell"><div class="index-top-buttons"><div class="group-button"><%= link_to "popular", groups_path %></div></div></div>
    <div class="table-cell"><div class="index-top-buttons">
      <%= link_to 'http://www.glipboard.com/groups/glipboard-support' do %>
        <%= image_tag 'support-banner.png', width: 480, alt: 'support banner'%>
      <% end %></div></div>
  </div>
</div>

<div class ="pagination-container">
  <%= paginate @groups %>
</div>

<div id ="index-container">
  <div class= "logs">
    <div class= "table">
        <% @groups.each do |group| %>
              
          <div class="table-row">
            <div class="table-cell">
              <%= if group.icon?
                image_tag group.icon, width: 30, alt: 'group image' 
              else
                image_tag 'default_avatar.jpg', width: 30, alt: 'group image'
              end %>
            </div>
          
            <div class="table-cell">
              <%= link_to group.title, group %>
            </div>
          
            <div class="table-cell">
              <%= group.description.truncate(70) %>
            </div>
            
            <div class="table-cell">
              <%= group.users.size %> members
            </div>
            
            <div class="table-cell">
              <% group.tag_list.map.each do |tag| %>
                <div class="tags">
                  <%= link_to tag, tag_path(tag) %>
                </div>
              <% end %>
            </div>
          </div>
        
      <% end %>
      
    </div>
  </div>
</div>

<div class ="pagination-container">
  <%= paginate @groups %>
</div>