<div id ="index-container">
  <div class = "table-row">
    <div class="table-cell"><div class="post-title">Groups</div></div>
  </div>
</div>

<div id ="index-container">
  <div class= "logs">
    <div class= "table">
      <%= paginate @groups %>
        <% @groups.each do |group| %>
              
          <div class="table-row">
          
            <div class="table-cell">
              <%= link_to group.title, group %>
            </div>
          
            <div class="table-cell">
              <%= group.description.truncate(70) %>
            </div>
            
            <div class="table-cell">
              <%= group.users.size %> members
            </div>
            
            <div class="table-cell">
              <% group.tag_list.map.each do |tag| %>
                <div class="tags">
                  <%= link_to tag, tag_path(tag) %>
                </div>
              <% end %>
            </div>
          </div>
        
      <% end %>
      
    </div>
  </div>
</div>
