<div id="content-wrap">
  <div class="left-column">
    <div class="title-box">
      Create New Group
    </div>
  
    <div class="log-form">
            
      <%= simple_form_for @group do |f| %>
          
        <% if @group.errors.any? %>
          <div class="alert">
            <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>
         
            <ul>
            <% @group.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
            
        <%= f.text_field :title, placeholder: 'Group Name' %><br />
        <div class="helper"><div class="small">Avoid using trademarked names; use "Jeep Lovers" instead of "Jeep". 
        Once chosen, group names cannot be changed.</div></div><br />
        
        <%= f.text_area :description, placeholder: 'Description', rows: 3, :maxlength => 300 %><br />
        <div class="helper"><div class="small">A basic description of your group. 300 characters max.</div></div><br />
        
        <%= f.hidden_field :creator_id %> 
        
        <%= f.text_field :tag_list, placeholder: 'Add up to 5 tags (separated by commas)', value: @group.tag_list.join(", ") %>
        <div class="small"><em>Example: fitness, weight loss, marathon</em></div><br />
            
        <fieldset>
          <legend>Imagery</legend>
            <em>Note: You can skip this step if you'd like to upload any of the images later.</em><br /><br />
            <label class="upload-button">Upload Group Image<%= f.file_field :picture, style: 'display:none;' %>
            </label>
            <div class="small"><br/><em>For best results, upload an image of the same height and width.</em></div>
  
          <br />
          <label class="upload-button">Upload Icon Image<%= f.file_field :icon, style: 'display:none;' %>
          </label>
          <div class="small"><br/><em>For best results, upload an image of the same height and width.</em></div>
          
          <br />
          <label class="upload-button">Upload Banner Image<%= f.file_field :banner, style: 'display:none;' %>
          </label>
          <div class="small"><br/><em>This image must be 950px wide by 80px tall!</em></div>
        </fieldset>
            
        <%= f.submit %>
            
      <% end %>
      
    </div>
  </div>
  
  <div class="right-column">
    
  </div>
</div>
