<div id="content-wrap">
  <div class="left-column">
    <%= render 'title' %>
    <%= render 'header' %>
      <div class="category-box">
        <div class="table-row">
          <% @categories.each do |category| %>
            <div class="category-items">
              <div class="tiny-table-cell">
                <% if category.icon? %>
                  <%= image_tag category.icon, size: '25' %>
                <% else %>
                  <%= image_tag 'category.png', size: '25', alt: 'category icon' %>
                <% end %>
              </div>
              
              <div class="tiny-table-cell">
                <%= link_to category.title, root_path %>
              </div>
            </div>
          <% end %>
        
        <% if (user_signed_in? && (current_user.id == @group.creator_id)) %>
          <%= link_to new_group_category_path(@group), :remote => true do %><div class="float-right"><i class="fa fa-plus-circle" title="add new category"></i></div><% end %>
        <% end %>
        
        </div>

      </div>
      
      <div id="categories-form">
        &nbsp;
      </div>
      
      <div id="posts-form">
        <% if user_signed_in? && Membership.exists?(user_id: current_user.id, group_id: @group.id) %>
          <div id="member"><%= render 'posts/member' %></div>
        <% else %>
          <div id="not-member"><%= render 'posts/not-member' %></div> 
        <% end %>
      </div><br />

      <% if @sticky_posts.any? %>
        <%= render 'groups/sticky_list' %>
      <% end %>
      <%= render 'groups/post_list' %>
  </div>
    
  <div class="right-column">
    <%= render 'description' %>
  </div>

</div>