<%= render 'header' %>
<div id="content-wrap">
  <div class="left-column">
    <%= render 'title' %>
      
      <div class="category-box">
        <div class="table-row">
          <% @categories.each do |category| %>
            <div class="category-items">
              <div class="tiny-table-cell">
                <% if category.icon? %>
                  <%= image_tag category.icon, size: '25' %>
                <% else %>
                  <%= image_tag 'category.png', size: '25', alt: 'category icon' %>
                <% end %>
              </div>
              
              <div class="tiny-table-cell">
                <%= link_to category.title, root_path %>
              </div>
            </div>
          <% end %>
        
        <% if (user_signed_in? && (current_user.id == @group.creator_id)) %>
          <%= link_to new_group_category_path(@group), :remote => true do %><div class="float-right"><i class="fa fa-plus-circle"></i></div><% end %>
        <% end %>
        
        </div>

      </div>
      
      <div id="categories-form">
        &nbsp;
      </div>
      
      <div id="posts-form">
        <% if user_signed_in? && Membership.exists?(user_id: current_user.id, group_id: @group.id) %>
          <div id="member"><%= render 'posts/member' %></div>
        <% else %>
          <div id="not-member"><%= render 'posts/not-member' %></div> 
        <% end %>
      </div><br />

      <div class="content">
        <% @posts.each do |post| %>
          <div class="table-row">
            <div class="table-cell" style="width: 12%;">
              <i class="fa fa-chevron-up"></i>&nbsp;<%= post.get_upvotes.size %>&nbsp;&nbsp;
              <i class="fa fa-chevron-down"></i>&nbsp;<%= post.get_downvotes.size %>
            </div>
          
            <div class="table-cell">
              <i class="fa fa-comments"></i>&nbsp;&nbsp;<%= post.responses.count %> replies
            </div>
          
            <div class="table-cell">
              <%= link_to post.title, group_post_path(@group, post) %>
            </div>
          
            <div class="table-cell">
              <%= time_ago_in_words(post.created_at) %> ago 
            </div>
            
            <div class="table-cell">
              <%= link_to post.user.username, user_path(post.user) %>
                &nbsp;<b><%= number_to_human(post.user.reputation, :format => '%n%u', :precision => 2, :units => { :thousand => 'K' }) %></b>
            </div>
          </div>
        <% end %>
      </div>
  </div>
    
  <div class="right-column">
    <%= render 'description' %>
  </div>

</div>