<div class="side-box">
  <div class="content-center">
    <%= 
    if @user.picture?
      image_tag @user.picture, width: 160, alt: 'user avatar'
    else
      image_tag 'default_avatar.jpg', width: 160, alt: 'default user avatar'
    end
    %>
    
    <div class="title-box">
      <%= @user.username %>
    </div>
    
    <div class="post-content">
      <% if user_signed_in? %>
        <% if logged_in?(:admin) %>
          <%= @user.email %> <br/>
        <% end %>
        <% if current_user.id == @user.id %>
          <%= link_to "Edit Profile", edit_user_registration_path(@user) %>
        <% else %>
          <% if current_user.reputation >= 20 %>
            <%= link_to 'message', new_message_path(receiver_id: @user.id) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>  
    <%= render 'shared/stats' %>
    <div class="small">
      <div class="center">
        <%= render 'users/follow_form' if user_signed_in? %>
      </div>
    </div>
</div>
<br />
<div class="side-box">
  <div class="side-content">
    
    <% unless @user.bio.nil? %>
      <%= @user.bio %><br /><br />
    <% end %>
  
    <% unless @user.website.nil? %>
      <div class="table-row">
        <div class="tiny-table-cell">
          <i class="fa fa-globe" aria-hidden="true"></i>
        </div>
        <div class="tiny-table-cell">
          <%= link_to @user.website, @user.website %>
        </div>
      </div>
    <% end %>
    
    <% unless @user.city.nil? %>
      <div class="table-row">
        <div class="tiny-table-cell">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class="tiny-table-cell">
          <%= @user.city %>
        </div>
      </div>
    <% end %>
  
    <% unless @user.country.nil? %>
      <div class="table-row">
        <div class="tiny-table-cell">
          <i class="fa fa-flag" aria-hidden="true"></i>
        </div>
        <div class="tiny-table-cell">
          <%= @user.country %>
        </div>
      </div>
    <% end %>
    
      <div class="table-row">
        <div class="tiny-table-cell">
          <i class="fa fa-history" aria-hidden="true"></i>
        </div>
        <div class="tiny-table-cell">
          Member for <%= time_ago_in_words(@user.created_at) %>
        </div>
      </div>
      
      <div class="table-row">
        <div class="tiny-table-cell">
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div class="tiny-table-cell">
          <%= @user.memberships.count %> groups
        </div>
      </div>
      
  </div>
</div>
<br />
<div class="side-box">
  <div class="side-content">
    
    <div class="title-box" style="font-size: 18px;">
      <%= @user.username %>'s Groups
    </div>
  
    <div class= "logs">
      <div class= "table">
          <% @groups.each do |group| %>
                
            <div class="table-row">
              <div class="tiny-table-cell">
                <%= 
                  if group.icon?
                    image_tag group.icon, width: 20
                  else
                    image_tag 'default_avatar.jpg', width: 20
                  end
                  %>
              </div>
            
              <div class="tiny-table-cell">
                <%= link_to group.title, group %>
              </div>
              
              <div class="tiny-table-cell">
                <% if @user == group.creator %>
                  <i class="fa fa-rocket"></i>&nbsp;&nbsp;<div class="smaller" style="display:inline;">creator</div>
                <% end %>
              </div>
              
            </div>
          
        <% end %>
      </div>
    </div>
  </div>
</div>
<br />