  <div class ="pagination-container">
    <%= paginate @groups %>
  </div>
  
    <div class= "logs">
      <div class= "table">
          <% @groups.each do |group| %>
                
            <div class="table-row">
              <div class="table-cell">
                <%= image_tag group.icon, width: 30, alt: 'group image' %>
              </div>
            
              <div class="table-cell">
                <%= link_to group.title, group %>&nbsp;
                <% if @user == group.creator %>
                  <i class="fa fa-rocket"></i>
                <% end %>
              </div>
            
              <div class="table-cell">
                <%= group.description.truncate(60) %>
              </div>
              
              <div class="table-cell">
                <i class="fa fa-user" style="display: inline;" title="members"></i>&nbsp;<div style="display: inline;"><%= group.users.size %></div>
              </div>
              
              <div class="table-cell">
                <% group.tag_list.map.each do |tag| %>
                  <div class="tags">
                    <%= link_to tag, tag_path(tag) %>
                  </div>
                <% end %>
              </div>
            </div>
          
        <% end %>
          <% @new_groups.each do |new| %>
                
            <div class="table-row">
              <div class="table-cell">
                <%= image_tag 'default_avatar.jpg', width: 30, alt: 'group image' %>
              </div>
            
              <div class="table-cell">
                <%= link_to new.title, new %>
              </div>
            
              <div class="table-cell">
                <%= new.description.truncate(70) %>
              </div>
              
              <div class="table-cell">
                <i class="fa fa-user" style="display: inline;" title="members"></i>&nbsp;<div style="display: inline;"><%= new.users.size %></div>
              </div>
              
              <div class="table-cell">
                <% new.tag_list.map.each do |tag| %>
                  <div class="tags">
                    <%= link_to tag, tag_path(tag) %>
                  </div>
                <% end %>
              </div>
            </div>
          
        <% end %>
        
      </div>
    </div>
  
  <div class ="pagination-container">
    <%= paginate @groups %>
  </div>
</div>