<div class="post-title"><%= @user.username %>&nbsp;&nbsp;
  <% if (user_signed_in? && (current_user.id == @user.id)) %>
    <%= link_to edit_user_registration_path(@user) do %><i class="fa fa-pencil"><% end %></i>
  <% end %>  
</div>

  <%= 
  if @user.picture?
    image_tag @user.picture, width: 100, alt: 'user avatar'
  else
    image_tag 'default_avatar.jpg', width: 100, alt: 'default user avatar'
  end
  %>
    
    
<div id="wrapper">
    <% @everything.each do |everything| %>
    
      <% if everything.model_name.human == "Glip" %>
        <div class="index-boxes">
      <% elsif everything.model_name.human == "article" %>
        <div class="index-article-boxes">
      <% else %>
        <div class="index-log-boxes">
      <% end %>
      
        <% if (user_signed_in? && (current_user.id == everything.user_id)) %>
        <div class="content-alter">
            <% if everything.model_name.human == "Glip" %>
              <%= link_to edit_glip_path(everything) do %><i class="fa fa-pencil"></i><% end %> &nbsp;&nbsp;
              <%= link_to glip_path(everything), method: :delete, data: { confirm: "Are you sure?" } do %><i class="fa fa-trash"></i><% end %>
            <% elsif everything.model_name.human == "article" %>
              <%= link_to edit_article_path(everything) do %><i class="fa fa-pencil"></i><% end %> &nbsp;&nbsp;
              <%= link_to article_path(everything), method: :delete, data: { confirm: "Are you sure?" } do %><i class="fa fa-trash"></i><% end %>
            <% else %>
              <%= link_to glip_log_path(everything, everything), method: :delete, data: { confirm: "Are you sure?" } do %><i class="fa fa-trash"></i><% end %>
            <% end %>
        </div>
        <% end %>
      
        <% if everything.model_name.human != "Log" %>
          <div class="index-title"><%= link_to everything.title, everything %></div>
        <% end %>
        <div class="content"><%= everything.content.html_safe %></div>
        <div class="date-right">
          Posted <%= time_ago_in_words(everything.created_at) %> ago
           &nbsp;&nbsp;
        </div>
        
        <div class="date">
        <% if everything.model_name.human != "Log" %>
          <i class="fa fa-tags"></i>&nbsp;&nbsp;<%= raw(everything.tag_list.map { |t| link_to t, tag_path(t) }.join(' , ')) %>&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-comments"></i>&nbsp;&nbsp;<%= everything.comments.count %>&nbsp;<%= link_to "comments", everything %>&nbsp;&nbsp;&nbsp;
          <% if everything.model_name.human == "Glip" %>
            <i class="fa fa-book"></i>&nbsp;&nbsp;<%= everything.logs.count %>&nbsp;<%= link_to "logs", glip_logs_path(everything) %>&nbsp;&nbsp;&nbsp;
            <%= link_to like_glip_path(everything), method: :put do %><i class="fa fa-chevron-up"></i><% end %>&nbsp;<%= everything.get_upvotes.size %>&nbsp;&nbsp;
            <%= link_to dislike_glip_path(everything), method: :put do %><i class="fa fa-chevron-down"></i><% end %>&nbsp;<%= everything.get_downvotes.size %>
          <% else %>
            <%= link_to like_article_path(everything), method: :put do %><i class="fa fa-chevron-up"></i><% end %>&nbsp;<%= everything.get_upvotes.size %>&nbsp;&nbsp;
            <%= link_to dislike_article_path(everything), method: :put do %><i class="fa fa-chevron-down"></i><% end %>&nbsp;<%= everything.get_downvotes.size %>
          <% end %>
        <% end %>
        </div>
        
      </div>
      
    <% end %>

</div>
