<div class="user-left-column">
  <%= render 'bio' %>
</div>
    
<div class="user-right-column">
  <div class="title-box">
    <%= link_to @user.username, user_path(@user) %> <%= @title %>
  </div>
      
  <div class ="pagination-container">
    <%= paginate @users %>
  </div>

  <% if @users.any? %>
    <div class="user_avatars">
      <% @users.each do |user| %>
        <%= link_to user do %>
          <%= 
            if user.picture?
              image_tag user.picture, width: 50, title: user.username
            else
              image_tag 'default_avatar.jpg', width: 50, title: user.username
            end
            %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>