<%= content_for(:meta_og) do %>
    <meta property="og:title" content="<%= @user.username %>" />
    <meta property="og:type" content="profile" />
    <meta property="og:description" content="<%= @user.bio.truncate(250) %>" />
    <% if @user.picture %>
      <meta property="og:image" content="<%= @user.picture.url %>" />
    <% end %>
<% end %>

<div class="user-left-column">
  <%= render 'bio' %>
</div>
    
<div class="user-right-column">

  <div id ="index-nav-container">
        <div class = "table-row">
          <div class="table-cell"><%= @user.username %>'s Content</div>
          <div class="table-cell"><div class="index-top-buttons"><div class="all-button"><%= link_to "latest", root_path %></div></div></div>
          <div class="table-cell"><div class="index-top-buttons"><div class="glip-button"><%= link_to "glips", glips_path %></div></div></div>
          <div class="table-cell"><div class="index-top-buttons"><div class="article-button"><%= link_to "articles", articles_path %></div></div></div>
          <div class="table-cell"><div class="index-top-buttons"><div class="group-button"><%= link_to "groups", groups_path %></div></div></div>
          <div class="table-cell"><div class="index-top-buttons"><div class="log-button"><%= link_to "logs", "#" %></div></div></div>
        </div>
  </div>
  
  <div id="user-content-index">
    <%= render 'users/latest' %>
  </div>
  
</div>