<div class="footer-top">
  <ul>
    <li><%= link_to 'https://www.facebook.com/Glipboard/' do %><i class="fab fa-facebook-f"></i><% end %></li>
    <li><%= link_to 'http://twitter.com' do %><i class="fab fa-twitter"></i><% end %></li>
    <li><%= link_to 'home', root_path %></li>
    <li><%= link_to 'about', about_path %></li>
    <li><%= link_to "contact" %></li>
    <li><%= link_to 'terms' %></li>
    <li><%= link_to 'privacy', users_path %></li>
    <li><%= link_to 'blog' %></li>
    <li><%= link_to 'podcast' %></li>
    <li><%= link_to "help", help_path %></li>
    <li><%= link_to 'conduct', conduct_path %></li>
    <li><%= link_to "api" %></li>
    <li><%= link_to 'advertising' %></li>
    <li><%= link_to 'pro' %></li>
  </ul>
</div>