<div class="footer-top">
  <ul>
    <li><%= link_to 'home' %></li>
    <li><%= link_to 'about' %></li>
    <li><%= link_to "contact" %></li>
    <li><%= link_to 'terms' %></li>
    <li><%= link_to 'privacy', users_path %></li>
    <li><%= link_to 'blog' %></li>
    <li><%= link_to 'podcast' %></li>
    <li><%= link_to "help", help_path %></li>
    <li><%= link_to 'guidelines' %></li>
    <li><%= link_to "api" %></li>
    <li><%= link_to 'advertising' %></li>
  </ul>
</div>
  
<div class="footer">
  
  <div class="footer-left">
    <%= link_to image_tag("logo2.png", alt: "logo", width: "120px"), root_path %><br />
    <div class="footer-text">
      <em><strong>Winning at life, one Glip at a time.</em></strong><br/><br />
      What is a Glip, you ask? It's a little road block, a "glip" in your path to success. Glipboard is a place to overcome Glips.
    </p><br />
    &copy;Copyright 2017 Glipboard
    <div class="footer-icons">
      <%= link_to 'http://facebook.com' do %><i class="fa fa-facebook"></i><% end %>
      <%= link_to 'http://twitter.com' do %><i class="fa fa-twitter"></i><% end %>
      <%= link_to 'http://github.com' do %><i class="fa fa-github"></i><% end %>
      <%= link_to 'http://reddit.com' do %><i class="fa fa-reddit"></i><% end %>
      <%= link_to root_path do %>
        <%= image_tag 'gb_icon.svg', width: 14, alt: 'Glipboard icon' %>
      <% end %>
    </div>
    </div>
  </div>
  
  <div class="footer-middle">
    <div class="footer-text">
      <ul>
        <li><%= link_to "Home" %></li>
        <li><%= link_to "About" %></li>
        <li><%= link_to "Contact" %></li>
        <li><%= link_to "Terms" %></li>
        <li><%= link_to "Privacy" %></li>
      </ul>
    </div>
  </div>
  
  <div class="footer-middle-2">
    <div class="footer-text">
      <ul>
        <li><%= link_to "Help" %></li>
        <li><%= link_to "Advertise" %></li>
        <li><%= link_to "Blog" %></li>
        <li><%= link_to "Podcast" %></li>
      </ul>
    </div>
  </div>
  
  <div class="footer-middle-3">
    <div class="footer-text">
      <ul>
        <li><%= link_to "Help" %></li>
        <li><%= link_to "Guidelines" %></li>
        <li><%= link_to "API" %></li>
        <li><%= link_to "Something" %></li>
      </ul>
    </div>
  </div>

</div>
