<div class="menu_container">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', width: 180, alt: 'Glipboard logo'%>
    <% end %>
  </div>
  
	<ul class="menu-ul">
		<li class="has-dropdown"><%= link_to 'About', '#' %>
      <div class="menu-dropdown w300">
    		<div class="column-content">
    			<p>
    				Glipboard is about accomplishing goals, one small step at a time. Small victories --- overcoming little "glips" in the road --- 
    				lead to monumental achievements. It all adds up. And that's what we're here for. To help you succeed. The goal of Glipboard
    				is for you to accomplish more than ever before. Post Glips and overcome them. Log your progress. Write Articles to help others
    				complete their own Glips. Join others in Groups. Earn reputation, help yourself, help others. What are you waiting for? Go Glip yourself!
    			</p>
    			<p class="links">
    				<a href="#">Link #1</a><br/>
    				<a href="#">Link #2</a><br/>
    				<a href="#">Link #3</a><br/>
    			</p>
    		</div>
    	</div>
		</li>
    <li><%= link_to 'Articles', featured_path %></li>
    <li><%= link_to "Groups", groups_path %></li>
    <li><%= link_to 'Tags', tags_path %></li>
    <li><%= link_to 'Users', users_path %></li>
		
		<% if current_user %>
		<li class="has-dropdown" style="font-style: italic; float: right; margin-right: 60px;">
		  <%= link_to current_user do %>
        <%= current_user.username %>&nbsp;<i class="fa fa-chevron-down"  aria-hidden="true"></i>
		  <% end %>
			<!-- Submenu dropdown -->
			<div class="menu-dropdown submenu">
				<ul class="submenu-list">
				  <li><%= link_to "Private Messages", conversations_path(current_user) %></li>
				  <li><%= link_to "Edit Profile", edit_user_registration_path(current_user) %></li>
          <li><%= link_to 'New Glip', new_glip_path %></li>
          <li><%= link_to 'New Article', new_article_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
				</ul>
			</div>
			<!-- /Submenu dropdown -->
		</li>
		<% else %>
      <li style="font-style: italic; float: right;"><%= link_to 'Register', new_user_registration_path %></li>
      <li style="font-style: italic; float: right;"><%= link_to 'Login', new_user_session_path %></li>
    <% end %>
	</ul>
</div>
<br />