<div class="menu_container">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', width: 180, alt: 'Glipboard logo'%>
    <% end %>
  </div>
  
	<ul class="menu-ul">
		<li><%= link_to 'Glips', glips_path %></li>
    <li class="has-dropdown"><%= link_to 'Articles', articles_path %>
      <div class="menu-dropdown submenu">
				<ul class="submenu-list">
				  <li><%= link_to 'Featured Articles', featured_path %></li>
				  <li><%= link_to 'Help', '#' %></li>
				</ul>
			</div>
    </li>
    <li><%= link_to "Groups", groups_path %></li>
    <li><%= link_to 'Tags', tags_path %></li>
    <li><%= link_to 'Users', users_path %></li>
		
		<% if current_user %>
		<li class="has-dropdown" style="font-style: italic; float: right; margin-right: 60px;">
		  <%= link_to current_user do %>
        Hi, <%= current_user.username %>&nbsp;<i class="fa fa-chevron-down"  aria-hidden="true"></i>
		  <% end %>
			<!-- Submenu dropdown -->
			<div class="menu-dropdown submenu">
				<ul class="submenu-list">
				  <li><%= link_to "Private Messages", conversations_path(current_user) %></li>
				  <li><%= link_to "Edit Profile", edit_user_registration_path(current_user) %></li>
          <li><%= link_to 'New Glip', new_glip_path %></li>
          <li class="has-dropdown"><%= link_to 'Articles', '#' %>
            <ul class="menu-dropdown right-align">
              <li><%= link_to 'New Article', new_article_path %></li>
              <li><%= link_to "My Drafts", drafts_path(current_user) %></li>
            </ul>
          </li>
          <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
				</ul>
			</div>
			<!-- /Submenu dropdown -->
		</li>
		<% else %>
      <li style="font-style: italic; float: right;"><%= link_to 'Register', new_user_registration_path %></li>
      <li style="font-style: italic; float: right;"><%= link_to 'Login', new_user_session_path %></li>
    <% end %>
    <li class="has-dropdown" style="color: white; float: right;"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
      <div class="menu-dropdown w300">
      	<div class="column-content menu-form">
      		<div class="field">
      			<span class="field-label">What are you looking for?</span>
      			<span class="field-input"><input class="input" type="text"/></span>
      		</div>
      		<div class="field">
      			<input class="right field-submit" type="submit" value='Search'/>
      		</div>
      	</div>
      </div>
    </li>
	</ul>
</div>
<br />