<div class="stats-center">
  <% @user ||= current_user %>
  
  <div class="stat-box">
    <a href="<%= following_user_path(@user) %>">
      <b><%= @user.following.count %></b><br />
      following
    </a>
  </div>
  
  <div class="stat-box">
    <a href="<%= followers_user_path(@user) %>">
      <b><div id="followers" style="display: inline;"><%= @user.followers.count %></div></b><br/>
      followers
    </a>
  </div>
  
  <div class="stat-box">
    <a href="#">
      <b><div id="reputation" style="display: inline;"><%= @user.reputation %></div></b><br/>
      reputation
    </a>
  </div>
  
  <div class="stat-box">
    <a href="#">
      <b><%= @user.glips.where({ status: "complete" }).count %></b><br/>
      glips
    </a>
  </div>
  
</div>