<div class="podcast-button-wrapper" style="display: block; text-align: center;">  
  <% if (user_signed_in? && (current_user.id == @episode.user.id)) %>
    <div class="small-bold-red" style="display:inline-block;">
      <%= link_to new_podcast_episode_path(@episode.podcast) do %><i class="fa fa-microphone"></i>&nbsp;New Episode<% end %>
    </div>
    <div class="small-bold-red" style="display: inline-block;">
      <%= link_to edit_podcast_episode_path(@episode.podcast, @episode) do %><i class="fa fa-pencil"></i>&nbsp;Edit Episode<% end %>
    </div>
  <% end %>
    <div class="small-bold-red" style="display:inline-block;">
      <%= link_to new_podcast_path do %><i class="fa fa-plus"></i>&nbsp;Create New Podcast<% end %>
    </div>
</div>
<div class="podcast-image">
  <div class="content-center">
    <%= image_tag @episode.image, width: 280, alt: 'podcast episode image' %><br />
  </div>
</div>

<br />
<div class="side-box">
  <div class="podcast-description">
  <%= @episode.podcast.content %><br />
  </div>
</div>