<%= content_for(:meta_og) do %>
    <meta property="og:title" content="<%= @episode.title %>" />
    <meta property="og:type" content="article" />
    <meta property="og:published_time" content="<%= @episode.created_at.strftime('%Y-%m-%d %H:%M') %>" />
    <meta property="og:description" content="<%= @episode.content.html_safe.truncate(300) %>" />
    <% if @episode.image %>
      <meta property="og:image" content="<%= @episode.image.url %>" />
    <% end %>
<% end %>

<div id="content-wrap" style="width: 95%;">
  <% if (user_signed_in? && (current_user.id == @episode.user_id)) %>
    <div class="content-alter">
      <div class="small-bold">
        <%= link_to edit_podcast_episode_path(@episode.podcast, @episode) do %><i class="fa fa-pencil"></i>&nbsp;Edit Episode<% end %>
      </div>
    </div>
  <% end %>
  
    <div class="title-box">
      <%= link_to @episode.podcast.title, podcast_path(@episode.podcast) %> - 
      <%= @episode.title %>
    </div>
  
  <div class="podcast-left">
    <%= render 'sidebar' %>
  </div>
  
  <div class="podcast-right">
    <%= render 'sidebar-right' %>
  </div>

</div>