<div id ="index-container">
      <div class = "table-row">
        <div class="table-cell"><div class="post-title">Latest Content</div></div>
        <div class="table-cell"><div class="index-top-buttons"><div class="all-button">all</div></div></div>
        <div class="table-cell"><div class="index-top-buttons"><div class="glip-button">glips</div></div></div>
        <div class="table-cell"><div class="index-top-buttons"><div class="article-button">articles</div></div></div>
        <div class="table-cell"><div class="index-top-buttons"><div class="article-button">articles</div></div></div>
        <div class="table-cell"><div class="index-top-buttons"><div class="article-button">articles</div></div></div>
        <div class="table-cell"><div class="index-top-buttons"><div class="article-button">articles</div></div></div>
      </div>
</div>
<div id ="index-container">
  <div class= "logs">
    <div class= "table">
          
      <% @everything.each do |everything| %>
              
        <div class="table-row">
          <% if everything.model_name.human == "Glip" %>
            <div class="table-cell">
              <%= link_to like_glip_path(everything), method: :put do %><i class="fa fa-chevron-up"></i><% end %>&nbsp;<%= everything.get_upvotes.size %>&nbsp;&nbsp;
              <%= link_to dislike_glip_path(everything), method: :put do %><i class="fa fa-chevron-down"></i><% end %>&nbsp;<%= everything.get_downvotes.size %>
            </div>
          <% else %>
            <div class="table-cell">
              <%= link_to like_article_path(everything), method: :put do %><i class="fa fa-chevron-up"></i><% end %>&nbsp;<%= everything.get_upvotes.size %>&nbsp;&nbsp;
              <%= link_to dislike_article_path(everything), method: :put do %><i class="fa fa-chevron-down"></i><% end %>&nbsp;<%= everything.get_downvotes.size %>
            </div>
          <% end %>
          <div class="table-cell"><i class="fa fa-comments"></i>&nbsp;&nbsp;<%= everything.comments.count %></div>
          <div class="table-cell">
            <% if everything.model_name.human == "Glip" %>
              <div class="glip-button">glip</div>
            <% else %>
              <div class="article-button">article</div>
            <% end %>
          </div>
          <div class="table-cell">
            <% if everything.model_name.human == "Glip" %>
              <% if everything.status == "incomplete" %>
                <i class="fa fa-star-half-o"></i>
              <% else %>
                <i class="fa fa-star"></i>
              <% end %>
            <% else %>
              <% if everything.feature == "featured" %>
                <i class="fa fa-trophy"></i>&nbsp;
              <% end %>
            <% end %>
            <%= link_to everything.title.truncate(40), everything %></div>
          <div class="table-cell"><%= time_ago_in_words(everything.created_at) %></div>
          <div class="table-cell">
            <%= link_to everything.user.username, user_path(everything.user) %>
                &nbsp;<%= everything.user.reputation %></div>
          <div class="table-cell"><% everything.tag_list.map.each do |tag| %>
              <div class="tags"><%= link_to tag, tag_path(tag) %></div>
          <% end %></div>
        </div>
        
      <% end %>
      
    </div>
  </div>
</div>