<% if (user_signed_in? && (current_user.id == @glip.user_id)) %>
  <div class="content-alter">
    <div class="small-bold" style="display: inline-block;">
      <%= link_to edit_glip_path(@glip) do %><i class="fa fa-pencil" title="edit"></i>&nbsp;Edit<% end %>
    </div>&nbsp;
    <% unless @glip.parent_id? %>
      <div class="small-bold" style="display: inline-block;">
        <%= link_to glip_path(@glip), method: :delete, data: { confirm: "Are you sure?" } do %><i class="fa fa-trash" title="delete"></i>&nbsp;Delete<% end %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="title-box">
  <% if @glip.status == "incomplete" %>
    <i class="fa fa-star-half-alt" title="incomplete"></i>
  <% else %>
    <i class="fa fa-star" style="color: #dc0000;" title="complete"></i>
  <% end %>
  <% if @glip.active == "abandoned" %>
    <i class="fas fa-skull" title="abandoned"></i>
  <% end %>
  <%= @glip.title %><% if @glip.privacy == "hidden" %><i>(private)</i><% end %><% if @glip.active == "abandoned" %><i>(abandoned)</i><% end %>
</div>

<div class="image">
  <%= 
    if @glip.image?
      image_tag @glip.image, width: 705, height: 340
    end
  %>
</div>

<div class="avatar-show">
  <%= 
    if @glip.user.picture?
      link_to user_path(@glip.user) do
        image_tag @glip.user.picture, width: 84, alt: 'user avatar'
      end
    else
      link_to user_path(@glip.user) do
        image_tag 'default_avatar.jpg', width: 84, alt: 'default user avatar'
      end
    end
  %>
    <% if user_signed_in? && current_user.id != @glip.user_id %>
      <div id="small-follow"><%= render 'users/follow_form' if user_signed_in? %></div>
    <% else %>
      <div class="small">You can do it!</div>
    <% end %>
</div>

<div class="details-show">
  <% if @glip.parent_id? %>
    shared by
  <% else %>
    originated by
  <% end %><h4 style="display:inline;"><%= link_to @glip.user.username, user_path(@glip.user) %></h4>&nbsp;<%= time_ago_in_words(@glip.created_at) %> ago&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <% if current_user == @glip.user %>  
      <% if @glip.status == "incomplete" %>
        <i class="fa fa-star-half-alt" title="incomplete"></i>&nbsp;<%= link_to @glip.status, toggle_status_glip_path(@glip) %>
      <% else %>
        <i class="fa fa-star" style="color: #dc0000;" title="complete"></i>&nbsp;<%= link_to @glip.status.upcase, toggle_status_glip_path(@glip) %>
      <% end %>
    <% else %>
    <% end %>
    <% if current_user == @glip.user %>  
      <% unless @glip.status == "complete" %>
        <% if @glip.active == "active" %>
          &nbsp;&nbsp;&nbsp;<i class="fas fa-heartbeat" title="active"></i>&nbsp;<%= link_to @glip.active, toggle_active_glip_path(@glip) %>
        <% else %>
          &nbsp;&nbsp;&nbsp;<i class="fas fa-skull" title="abandoned"></i>&nbsp;<%= link_to @glip.active, toggle_active_glip_path(@glip) %>
        <% end %>
      <% end %>
    <% end %>&nbsp;&nbsp;&nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<b>Deadline:</b> 
    <% if @glip.deadline? %>
      <%= @glip.deadline.strftime("%m/%d/%Y") %>
    <% else %>
      <em>none</em>
    <% end %><br />
    
    <% @glip.tag_list.map.each do |tag| %>
      <div class="tags"><%= link_to tag, tag_path(tag) %></div>
    <% end %><br />
    <%= link_to like_glip_path(@glip), method: :put, remote: true do %><i class="fa fa-chevron-up" title="upvotes"></i><% end %>&nbsp;<div id="upvote" style="display: inline;"><%= @glip.get_upvotes.size %></div>&nbsp;&nbsp;
    <%= link_to dislike_glip_path(@glip), method: :put, remote: true do %><i class="fa fa-chevron-down" title="downvotes"></i><% end %>&nbsp;<div id="downvote" style="display: inline;"><%= @glip.get_downvotes.size %></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fa fa-comments" title="comments"></i>&nbsp;&nbsp;<%= @glip.comments.count %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fa fa-book" title="logs"></i>&nbsp;&nbsp;<%= @glip.logs.count %>&nbsp;<%= link_to "logs", glip_logs_path(@glip) %><br />
    <br />
    <% if @glip.active == "abandoned" %>
    <i>This glip has been <i class="fas fa-skull" title="abandoned"></i> abandoned by <%= @glip.user.username %>. You can still participate in
    it, though.</i><br />
  <% end %>
    
</div>