<div class="log-box">
  <div class="center">
    <div class="fake-submit">
      <%= link_to 'Create a New Glip', new_glip_path %>
    </div>
  </div>
</div>
<br />

<% if (user_signed_in? && (current_user.id == @glip.user_id)) %>
  <div class="log-box">
    <%= render "logs/form" %><br/>
  </div>
<% end %> 

<div class="side-box">
  <div class="side-content" style="margin-top: 0;">
    <div class="small">
    <% if @glip.parent_id? %>
        <div class="center" style="margin: auto;">
          <%= link_to "Visit this Glip's Ancestor", glip_path(@glip.parent_id) %>
        </div>
    <% end %>
    <div class="table-row">
      <div class="tiny-table-cell">
        <div id="participate_form"><%= render 'participations/participate_form' %></div>
      </div>
      <div class="tiny-table-cell">
        <div id="participants_size">
          <%= render 'participations/size' %>
        </div>
      </div>
    </div>
    </div>
    <div class="table-row">
      <div id="participants"><%= render 'participations/show_participants' %></div>
    </div>
  </div>
</div>
<br />

<div class="side-box">
  <div class="side-content">
    <div class="title-box" style="font-size: 16px; text-align: center;"><%= @glip.articles.size %> Articles that helped this Glip</div>
    <% if @glip.articles.size == 0 %>
      &nbsp;
    <% else %>
      <% @articles.each do |article| %>
        <li><%= link_to article.title, article %></li>
      <% end %>
    <% end %>
  </div>
</div>

<br />

<div class="side-box">
  <div class="side-content">
    <div class="title-box" style="font-size: 16px; text-align: center;"><%= @glip.logs.size %> progress logs so far</div>
        <% @logs.each do |log| %>
          <li><%= log.content.truncate(50) %></li>
        <% end %><br />
    <%= link_to_previous_page @logs, '<< Previous' %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to_next_page @logs, 'Next >>' %>
  </div>
</div>