<div id="content-wrap">
  <% if current_user == @glip.user %>
    <div class="left-column">
      <%= render 'header' %>
      <%= render 'form', glip: @glip %>
      <div class="log-form">
        <div class="center">
          <%= link_to 'Cancel', @glip %>
        </div>
      </div>
      
      <%= render "glips/comments" %>

    </div>
      
    <div class="right-column">
      <%= render 'sidebar' %>
    </div>

  <% else %>
    <div class="alert">You do not have permission to access this page.</div>
  <% end %>
</div>