<div id="wrapper">
    <% @glips.each do |glip| %>
      <div class="index-boxes">
        <div class="post-title"><%= link_to glip.title, glip %></div>
        <div class="date">Posted <%= time_ago_in_words(glip.created_at) %> ago by <%= link_to glip.user.username, user_path(glip.user) %></div>
        <div class="date"><i class="fa fa-comments"></i>&nbsp;&nbsp;<%= glip.comments.count %> comments&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-tags"></i>&nbsp;&nbsp;<%= raw(glip.tag_list.map { |t| link_to t, tag_path(t) }.join(' , ')) %></div>
      </div>
    <% end %>
</div>
