<div id="wrapper">
    <% @glips.each do |glip| %>
      <div class="index-boxes">
        <div class="index-title"><%= link_to glip.title, glip %></div>
        
        <div class="date-right">
          Posted <%= time_ago_in_words(glip.created_at) %> ago by <%= link_to glip.user.username, user_path(glip.user) %>
           &nbsp;&nbsp;
          <%= 
            if glip.user.picture?
              link_to user_path(glip.user) do
                image_tag glip.user.picture, width: 15, alt: 'user avatar'
              end
            else
              link_to user_path(glip.user) do
                image_tag 'default_avatar.jpg', width: 15, alt: 'default user avatar'
              end
            end
          %>          
        </div>
        
        <div class="date">
          <i class="fa fa-tags"></i>&nbsp;&nbsp;<%= raw(glip.tag_list.map { |t| link_to t, tag_path(t) }.join(' , ')) %>&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-comments"></i>&nbsp;&nbsp;<%= glip.comments.count %> comments&nbsp;&nbsp;&nbsp;
          <i class="fa fa-book"></i>&nbsp;&nbsp;<%= glip.logs.count %>&nbsp;<%= link_to "logs", glip_logs_path(glip) %>
        </div>
        
      <div class="btn-group">
        <%= link_to like_glip_path(glip), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-up"></span>
          <%= glip.get_upvotes.size %>
        <% end %>
        <%= link_to dislike_glip_path(glip), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-down"></span>
          <%= glip.get_downvotes.size %>
        <% end %>
      </div>
        
      </div>
      
    <% end %>
</div>
