<p id="notice"><%= notice %></p>

<h1>Latest Glips</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @glips.each do |glip| %>
      <tr>
        <td><%= glip.title %></td>
        <td><%= glip.content %></td>
        <td><%= link_to 'Show', glip %></td>
        <td><%= link_to 'Edit', edit_glip_path(glip) %></td>
        <td><%= link_to 'Delete', glip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Glip', new_glip_path %>
