<div id ="index-nav-container">
  <div class = "table-row">
    <div class="table-cell"><h3>Latest Glips</h3></div>
  </div>
</div>

<div class ="pagination-container">
  <%= paginate @glips %>
</div>

<div id ="index-container">
  <div class= "logs">
    <div class= "table">
        <% @glips.each do |glip| %>
              
          <div class="table-row">
            <div class="table-cell">
              <i class="fa fa-chevron-up" title="upvotes"></i>&nbsp;<%= glip.get_upvotes.size %>&nbsp;&nbsp;
              <i class="fa fa-chevron-down" title="downvotes"></i>&nbsp;<%= glip.get_downvotes.size %>
            </div>
          
            <div class="table-cell">
              <i class="fa fa-comments" title="comments"></i>&nbsp;&nbsp;<%= glip.comments.count %>
            </div>
            
            <div class="table-cell">
              <i class="fa fa-user" title="participants"></i>&nbsp;&nbsp;<%= glip.participants.size %>
            </div>
          
            <div class="table-cell">
              <% if glip.status == "incomplete" %>
                <i class="fa fa-star-half-o" title="incomplete"></i>
              <% else %>
                <i class="fa fa-star" style="color: #dc0000;" title="complete"></i>
              <% end %>
              <%= link_to glip.title.truncate(40), glip %>
            </div>
          
            <div class="table-cell">
              <%= time_ago_in_words(glip.created_at) %>
            </div>
            
            <div class="table-cell">
              <%= link_to glip.user.username, user_path(glip.user) %>
                &nbsp;<%= number_to_human(glip.user.reputation, :format => '%n%u', :precision => 2, :units => { :thousand => 'K' }) %>
            </div>
            
            <div class="table-cell">
              <% glip.tag_list.map.each do |tag| %>
                <div class="tags">
                  <%= link_to tag, tag_path(tag) %>
                </div>
              <% end %>
            </div>
          </div>
        
      <% end %>
    </div>
  </div>
</div>

<div class ="pagination-container">
  <%= paginate @glips %>
</div>
