<div id="content-wrap">
  
    <div class="left-column">
      <% if (user_signed_in? && (current_user.id == @glip.user_id)) %>
        <div class="content-alter">
          <%= link_to edit_glip_path(@glip) do %><i class="fa fa-pencil"></i><% end %> &nbsp;&nbsp;
          <%= link_to glip_path(@glip), method: :delete, data: { confirm: "Are you sure?" } do %><i class="fa fa-trash"></i><% end %>
        </div>
      <% end %>
      
      <div class="title-box">
        <%= @glip.title %>
      </div>
      
      <div class="avatar-show">
        <%= 
          if @glip.user.picture?
            link_to user_path(@glip.user) do
              image_tag @glip.user.picture, width: 65, alt: 'user avatar'
            end
          else
            link_to user_path(@glip.user) do
              image_tag 'default_avatar.jpg', width: 65, alt: 'default user avatar'
            end
          end
        %>      
      </div>

      <div class="details-show">
          posted by <%= link_to @glip.user.username, user_path(@glip.user) %>&nbsp;<%= time_ago_in_words(@glip.created_at) %> ago<br/>
          <%= link_to like_glip_path(@glip), method: :put do %><i class="fa fa-chevron-up"></i><% end %>&nbsp;<%= @glip.get_upvotes.size %>&nbsp;&nbsp;
          <%= link_to dislike_glip_path(@glip), method: :put do %><i class="fa fa-chevron-down"></i><% end %>&nbsp;<%= @glip.get_downvotes.size %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-comments"></i>&nbsp;&nbsp;<%= @glip.comments.count %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-book"></i>&nbsp;&nbsp;<%= @glip.logs.count %>&nbsp;<%= link_to "logs", glip_logs_path(@glip) %><br />
          <% @glip.tag_list.map.each do |tag| %>
            <div class="tags"><%= link_to tag, tag_path(tag) %></div>
          <% end %>
      </div>
      
      <div class="content-show">
          <%= markdown @glip.content %>
        <div class="completion-criteria">
          <i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;&nbsp;<em>Completion Criteria:</em><br /><%= raw(@glip.completion_criteria) %>
        </div>
        
        <div class="comments-wrap">
          Comments
        </div>
          <%= render "comments/form" %><br/>
          <%= render "comments/comments" %>
      </div>

    </div>
    
  <div class="right-column">
    <% if (user_signed_in? && (current_user.id == @glip.user_id)) %>
      <div class="log-box">
        <%= render "logs/form" %><br/>
      </div>
    <% end %> 
  </div>

</div>