<div id="content-wrap">
  
  <div class="title-box">
    About Glipboard
  </div>
    
  <div class="help-left-column">
    <div class="side-content" style="line-height: 1.5em;">
      <h2>
        Other Helpful Links
      </h2>
      <%= link_to 'Help', help_path %><br />
      <%= link_to 'Blog' %><br />
      <%= link_to 'Podcast' %><br />
      <%= link_to 'Terms' %><br />
      <%= link_to 'Privacy' %><br />
    </div>
  </div>
  
  <div class="help-right-column" style="line-height: 1.8em; font-size: 13px;">
    
      <a id="Overview"></a><h2>What is Glipboard?</h2>
        Glipboard is a goal-sharing social network. The idea is to help you do more stuff, simple as that. You post your goals, set milestones, and log your progress.
        Get tips, tricks, and ideas from others, participate in glips, challenge your friends, and more! (We think of a goal as a series of tiny obstacles, by the way. 
        These obstacles are like little <em>glips</em> on the road to success.)
      <br />
      
      <a id="Stuff"></a><h2>Do More Stuff</h2>
        We all have things we aspire to do, from the monumental to the little things that bring us joy on an everyday basis. We want you to do
        more of that. We want you to live your life to the fullest, to learn all the things you've wanted to learn, to go places, to experience all 
        you've ever dreamed of. To be more fulfilled. To improve. To expand. That's what this site is all about. We simply want to give you more tools to 
        <b>do more stuff</b>. 
      <br />
        
      <a id="Friends"></a><h2>Be Social</h2>
        The other big part of Glipboard is the social aspect. No one needs to tackle these things alone (though if that's how you roll, there's nothing wrong with that). 
        We just know there are others out there who have done the thing you're wanting to do. They can help you. And you can help someone else. We all have a breadth of knowledge
        and experience, which we can put to good use by enriching the lives of others who can use it. Not only that, but it can be highly motivating when we know we're not 
        alone, that we're surrounded by others trying to accomplish the same thing. That's why we value participation here. All Glips are open to participation. Not only 
        can it be more fun that way, but the more people attempting to accomplish something, the more knowledge gets spread around. Everyone wins.
      <br />
  </div>
</div>
