<div id="content-wrap">
  
<div class="content-wrap">
  <div class="right-column">
    <div class="side-box">
      <div class="side-content">
        <div class="title-box" style="font-size: 16px; text-align: center;">Helpful Resources</div>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "About Privileges", 'http://www.glipboard.com/help#Privileges' %></li>
            <li><%= link_to "Glipboard Support Group", 'http://www.glipboard.com/groups/glipboard-support' %></li>
            <li><%= link_to "About Glipboard", about_path %></li>
            <li><%= link_to "Code of Conduct", conduct_path %></li>
      </div>
    </div>
  </div>
  
  <div class="left-column">
    <div class="title-box">
      Code of Conduct
    </div>
      This Code of Conduct helps us build a community that is rooted in encouragement, collaboration, and mutual respect.
      <h2>Are You Helping?</h2>
      Whether you’ve come to accomplish goals or to generously share what you know, join us in building a community where 
      all people feel welcome and can participate, regardless of expertise or identity. The <i>goal</i> should be to help
      people achieve success.<br /><br />
      <h2>Our Expectations</h2>
      <ul>
          <li><strong>Use good communication.</strong> - Be clear and constructive when giving feedback, and be open when receiving it.</li>
          <li><strong>Be positive.</strong> - Avoid being negative or putting others down. If you cannot be kind or respectful, move on.</li>
          <li><strong>Be welcoming and patient.</strong> - We want people to achieve their goals. This takes time. Our behavior should reflect this.</li>
      </ul>
      <h2>Unacceptable Behavior</h2>
      <ul>
          <li><strong>Negative language.</strong> - No putdowns or strong language. Even if you don’t intend it, this can have a negative 
          impact on others. Even jokes and sarcasm may not come across well in a text-heavy medium.</li>
          <li><strong>No name-calling or personal attacks.</strong> - Focus on the goals, not the person. Responses should be positive and helpful; 
          avoid using terms like "lazy," or "stupid".</li>
          <li><strong>No bigotry.</strong> - We don’t tolerate any language likely to offend or alienate people based on race, gender, sexual orientation, 
          or religion — and those are just a few examples. When in doubt, just don’t.</li>
          <li><strong>No harassment.</strong> - This includes, but isn’t limited to: bullying, intimidation, vulgar language, direct or indirect threats, 
          sexually suggestive remarks, patterns of inappropriate social contact, and sustained disruptions of discussion.</li>
      </ul>
  </div>
</div>