<%= form_for [@group, @post, @response] do |f| %>
  <% if @response.errors.any? %>
      <div class="error_messages">
        <h3>Please correct the following errors.</h3>
        <ul>
        <% @response.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
      <%= f.text_area :content, rows: 3 %><br />
      <%= f.text_field :youtube %>&nbsp;&nbsp;<i class="fa fa-youtube" aria-hidden="true" style="font-size: 18px;"></i><div class="small" style="display: inline-block;"><em>
      &nbsp;<b>Optional: </b>You can embed a Youtube video by inputting its ID; example: pMxwDZJFI_U</em></div>

      <%= f.submit 'Reply' %>
<% end %>