<% @responses.each do |response| %>
<div class="comments">
  
  <div class="comments-left-column">
    <div class="comments-center">
      <%= link_to like_group_post_response_path(@group, @post, response), method: :put do %><i class="fa fa-chevron-up"></i><% end %><br />
      <div id="upvote-<%= response.id %>" style="display: inline;"><%= response.get_upvotes.size %></div><br /><br />
      <div id="downvote-<%= response.id %>" style="display: inline;"><%= response.get_downvotes.size %></div><br />
      <%= link_to dislike_group_post_response_path(@group, @post, response), method: :put do %><i class="fa fa-chevron-down"></i><% end %>
    </div>
  </div>
  
  <div class="comments-center-column">
    <div class="comments-center">
      <%= 
        if response.user.picture?
          link_to user_path(response.user) do
            image_tag response.user.picture, width: 64, alt: 'user avatar'
          end
        else
          link_to user_path(response.user) do
            image_tag 'default_avatar.jpg', width: 64, alt: 'default user avatar'
          end
        end
      %>
      <h3 style="margin: 0 auto;">
        <%= link_to response.user.username, user_path(response.user) %>
      </h3> 
        <% if response.user_id == @group.creator_id %>
          <div class="small-bold" style="color: black; margin-bottom: 0;"><i class="fa fa-rocket" title="Group Creator"></i> Creator</div>
        <% end %>
      <%= response.user.reputation %>
    </div>
  </div>
  <div class="comments-right-column">
    <div class="comment-content" style="display: inline-block;">
      <% if response.subtitle? %>
        <h4 style="display: inline-block; margin: 0 4px 0 0;"><%= response.subtitle %></h4>
      <% end %>
      <div class="comments-small" style="display: inline-block;">
      <em>Posted <%= time_ago_in_words(response.created_at) %> ago</em>
    
      <% if (user_signed_in? && (current_user.id == response.user_id)) %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="responses-alter" style="display: inline-block;">
          <%= link_to edit_group_post_response_path(@group, @post, response) do %>&nbsp;&nbsp;<i class="fa fa-pencil"></i><% end %> &nbsp;&nbsp;
          <%= link_to group_post_response_path(@group, @post, response), method: :delete, data: { confirm: "Are you sure?" } do %><i class="fa fa-trash"></i><% end %><br />
        </div>
      <% end %>
    
      </div>
      <br />
      <%= response.content %><br />
      <% if response.youtube? %>
        <iframe width="420" height="236" src='https://www.youtube.com/embed/<%= response.youtube %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
      <% end %>
    </div>
  <div class="comment-content">
    <% if response.remarks.any? %>
      <%= render 'remarks/remarks', response: response %>
    <% end %>
    <div class="content-alter" style="margin-top: 0;">
      <div class="notation-reply">
        <%= link_to "reply", new_group_post_response_remark_path(@group, @post, response) %>
      </div>
    </div>
  </div>
  </div>
  
</div>
<% end %>