<div id ="index-nav-container">
      <div class = "table-row">
        <div class="table-cell"><h3>Top Tags</h3></div>
        <div class="table-cell"><div class="index-top-buttons"><div class="latest-button"><%= link_to "all content", root_path %></div></div></div>
        <div class="table-cell"><div class="index-top-buttons"><div class="glip-button"><%= link_to "glips", glips_path %></div></div></div>
        <div class="table-cell"><div class="index-top-buttons"><div class="article-button"><%= link_to "articles", articles_path %></div></div></div>
        <div class="table-cell"><div class="index-top-buttons"><div class="group-button"><%= link_to "groups", groups_path %></div></div></div>
        <div class="table-cell"><div class="index-top-buttons"><div class="user-button"><%= link_to "users", users_path %></div></div></div>
        <div class="table-cell"><div class="index-top-buttons"><div class="all-button"><%= link_to "tags", tags_path %></div></div></div>
      </div>
</div>

<div id="content-wrap">
  
  <div class="left-column">
    
    <div class="title-box">
      Most Popular Tags
    </div>
  
    <div class ="pagination-container">
      <%= paginate @tags %>
    </div>
    <div class="tags-list">
      <% @tags.each do |tag| %>
        <div class="tags-spacing"><div class="tags"><%= link_to tag.name, tag_path(tag.name) %> x <%= tag.taggings_count %></div></div>
      <% end %>
    </div>
  </div>
</div>

