<div id ="index-container">
  <div class= "logs">
    <div class= "table">
      
      <%= paginate @pager %>
        <% @pager.each do |pager| %>
              
        <div class="table-row">
          
          <% if pager.model_name.human == "Glip" %>
            <div class="table-cell">
              <%= link_to like_glip_path(pager), method: :put do %><i class="fa fa-chevron-up"></i><% end %>&nbsp;<%= pager.get_upvotes.size %>&nbsp;&nbsp;
              <%= link_to dislike_glip_path(pager), method: :put do %><i class="fa fa-chevron-down"></i><% end %>&nbsp;<%= pager.get_downvotes.size %>
            </div>
          <% elsif pager.model_name.human == "Article" %>
            <div class="table-cell">
              <%= link_to like_article_path(pager), method: :put do %><i class="fa fa-chevron-up"></i><% end %>&nbsp;<%= pager.get_upvotes.size %>&nbsp;&nbsp;
              <%= link_to dislike_article_path(pager), method: :put do %><i class="fa fa-chevron-down"></i><% end %>&nbsp;<%= pager.get_downvotes.size %>
            </div>
          <% else %>
            <div class="table-cell">
              &nbsp;
            </div>
          <% end %>
          
          <% if pager.model_name.human != "Group" %>
            <div class="table-cell">
              <i class="fa fa-comments"></i>&nbsp;&nbsp;
              <%= pager.comments.count %>
            </div>
          <% else %>
            <div class="table-cell">
              &nbsp;
            </div>
          <% end %>
          
          <div class="table-cell">
            <% if pager.model_name.human == "Glip" %>
              <div class="glip-button">glip</div>
            <% elsif pager.model_name.human == "Article" %>
              <div class="article-button">article</div>
            <% else %>
              <div class="group-button">group</div>
            <% end %>
          </div>
          
          <div class="table-cell">
            <% if pager.model_name.human == "Glip" %>
              <% if pager.status == "incomplete" %>
                <i class="fa fa-star-half-o"></i>
              <% else %>
                <i class="fa fa-star"></i>
              <% end %>
            <% elsif pager.model_name.human == "Article" %>
              <% if pager.feature == "featured" %>
                <i class="fa fa-trophy"></i>&nbsp;
              <% end %>
            <% else %>
            <% end %>
            
            <%= link_to pager.title.truncate(40), pager %></div>
          
          <div class="table-cell"><%= time_ago_in_words(pager.created_at) %> ago</div>
          
          <div class="table-cell">
            <% if pager.model_name.human != "Group" %>
            <%= link_to pager.user.username, user_path(pager.user) %>
                &nbsp;<%= pager.user.reputation %>
            <% else %>
              <%= pager.users.size %> Members
            <% end %>
          </div>
          
          <div class="table-cell">
            <% pager.tag_list.map.each do |tag| %>
              <div class="tags">
                <%= link_to tag, tag_path(tag) %>
              </div>
            <% end %>
          </div>
        </div>
        
      <% end %>
      
    </div>
  </div>
</div>