<h2>Log in</h2>

<div class="log-form">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <%= f.email_field :email, autofocus: true, placeholder: 'Email address' %><br />
      <%= f.password_field :password, placeholder: 'Password', autocomplete: "off" %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

  
    <div class="form-actions">
      <%= f.button :submit, "Log in" %>
    </div>
  <% end %>
</div>
<%= render "devise/shared/links" %>
