<div class="log-form">
    
  <%= simple_form_for [@group, @post] do |f| %>
  
    <% if @post.errors.any? %>
      <div class="alert">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
     
        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= f.text_field :title, placeholder: 'Title' %><br />
    
    <%= f.text_area :content, placeholder: 'Content', rows: 6 %>
    <div class="helper"><div class="small">#creates a heading&nbsp;&nbsp;&nbsp;&nbsp;<em>_creates italics_</em>&nbsp;&nbsp;&nbsp;&nbsp;<strong>**creates bold**</strong> 
    &nbsp;&nbsp;&nbsp;&nbsp;```backtick to escape code```&nbsp;&nbsp;&nbsp;&nbsp;use a > to quote&nbsp;&nbsp;&nbsp;&nbsp;get formatting help</div></div><br />

    <div><%= f.hidden_field :group_id, :value => @group %></div>
    
    <p><%= f.submit 'Submit Post' %></p>
  <% end %>
</div>
  
