<div class="log-form">
  <div class="small"><%= link_to "hide", group_path(@group) %><br /></div>
    
  <%= simple_form_for [@group, @post] do |f| %>
  
    <% if @post.errors.any? %>
      <div class="alert">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
     
        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= f.text_field :title, placeholder: 'Title' %><br />
    
    <%= f.collection_select(:category_id, @group.categories, :id, :title, prompt: '--select category--') %><br />
    
    <%= f.text_area :content, placeholder: 'Content', rows: 6 %>
    <div class="small"><b><div id="markdown"><%= link_to "#", :remote => true do %><i class="fa fa-chevron-down"  aria-hidden="true"></i>&nbsp;Formatting Help<% end %></b></div></div><br />
    
    <% if current_user.id == @group.creator_id %>
      <%= f.radio_button :sticky, 'sticky' %> 
      <%= label :sticky_status, 'Pin This Post' %>
      <%= f.radio_button :comments_disabled, 'comments_disabled' %>
      <%= label :disabled_status, 'Disable Comments' %>
      <div class="small"><em>You can pin this post to the top and/or disabled comments.</em></div><br />  
    <% end %>
    
    <p><%= f.submit 'Submit Post' %></p>
  <% end %>
</div>
  
