<div id="content-wrap">
  <div class="left-column">
    <%= render 'groups/title' %>
      <% if (user_signed_in? && (current_user.id == @post.user_id)) %>
        <div class="content-alter">
          <%= link_to edit_group_post_path(@group, @post) do %><i class="fa fa-pencil"></i><% end %>&nbsp;
        </div>
      <% end %>

      <div class="avatar-show">
        <%= 
          if @post.user.picture?
            link_to user_path(@post.user) do
              image_tag @post.user.picture, width: 84, alt: 'user avatar'
            end
          else
            link_to user_path(@post.user) do
              image_tag 'default_avatar.jpg', width: 84, alt: 'default user avatar'
            end
          end
        %><div id="small-follow"><%= render 'users/follow_form' if user_signed_in? %></div>      
      </div>

      <div class="details-show">
        <div class="post-title"><%= @post.title %></div>
          posted by <%= link_to @post.user.username, user_path(@post.user) %>&nbsp;<%= time_ago_in_words(@post.created_at) %> ago<br />
          <%= link_to like_group_post_path(@group, @post), method: :put do %><i class="fa fa-chevron-up"></i><% end %>&nbsp;<%= @post.get_upvotes.size %>&nbsp;&nbsp;
          <%= link_to dislike_group_post_path(@group, @post), method: :put do %><i class="fa fa-chevron-down"></i><% end %>&nbsp;<%= @post.get_downvotes.size %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-comments"></i>&nbsp;&nbsp;<%= @post.responses.count %>
      </div>
      
      <div class="content-show">
          <%= @post.content %>
      </div>
      
      <div class="content-show">
        <em><i class="fa fa-comments"></i>&nbsp;&nbsp;<%= @post.responses.count %> Replies</em>
        <div class="comments-wrap">
          <%= render "responses/form" %><br/>
          <%= render "responses/responses" %>
        </div>
      </div>

    </div>
    
  <div class="right-column">
    <div class="log-box">
      <%= render 'groups/description' %>
  </div>

</div>

