<%= render 'groups/header' %>
<div id="content-wrap">
  <div class="left-column">
    <%= render 'groups/title' %>
      <% if (user_signed_in? && (current_user.id == @post.user_id)) %>
        <div class="content-alter">
          <div class="small-bold"><%= link_to edit_group_post_path(@group, @post) do %><i class="fa fa-pencil"></i>&nbsp;Edit Post<% end %></div>&nbsp;
        </div>
      <% end %>

      <div class="avatar-show">
        <%= 
          if @post.user.picture?
            link_to user_path(@post.user) do
              image_tag @post.user.picture, width: 84, alt: 'user avatar'
            end
          else
            link_to user_path(@post.user) do
              image_tag 'default_avatar.jpg', width: 84, alt: 'default user avatar'
            end
          end
        %><div id="small-follow"><%= render 'users/follow_form' if user_signed_in? %></div>      
      </div>

      <div class="details-show">
        <h2><%= @post.title %></h2>
          posted by <h4 style="display:inline;"><%= link_to @post.user.username, user_path(@post.user) %></h4>&nbsp;
          <%= time_ago_in_words(@post.created_at) %> ago 
          <% if @post.category_id? %>
          in <%= link_to @post.category.title, group_category_path(@group, @category) %><br />
          <% else %>
          <br />
          <% end %>
          <%= link_to like_group_post_path(@group, @post), method: :put, remote: true do %><i class="fa fa-chevron-up"></i><% end %>&nbsp;<div id="upvote" style="display: inline;"><%= @post.get_upvotes.size %></div>&nbsp;&nbsp;
          <%= link_to dislike_group_post_path(@group, @post), method: :put, remote: true do %><i class="fa fa-chevron-down"></i><% end %>&nbsp;<div id="downvote" style="display: inline;"><%= @post.get_downvotes.size %></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-comments"></i>&nbsp;&nbsp;<%= @post.responses.count %>
      </div>
      
      <div class="content-show">
          <%= markdown @post.content %>
      </div>
      
      <div class="content-show">
        <h4><em><i class="fa fa-comments"></i>&nbsp;&nbsp;<%= @post.responses.count %> Replies<a id="comment"></a></em></h4>

          <% if user_signed_in? && Membership.exists?(user_id: current_user.id, group_id: @post.group.id) %>
            <%= render "responses/form" %><br/>
          <% else %>
            <div class="small"><em>You must be a member of <%= @post.group.title %> to make to make replies.</em></div>
          <% end %>
          <%= render "responses/responses" %>
          
      <a href="#comment">Post New Reply</a>
      </div>

    </div>
    
  <div class="right-column">
    <div class="log-box">
      <div class="center">
        <div class="fake-submit">
          <%= link_to 'Create a Group Post', new_group_post_path(@group) %>
        </div>
      </div>
    </div>
    <br />
    <div class="log-box">
      <%= render 'groups/description' %>
    </div>
  </div>

</div>

