
  <div class="avatar-show">
    <%= 
      if @podcast.group_id?
        link_to group_path(@group) do
          image_tag @group.icon, width: 84, alt: 'group icon'
        end
      else
        if @podcast.user.picture?
          link_to user_path(@podcast.user) do
            image_tag @podcast.user.picture, width: 84, alt: 'user avatar'
          end
        else
          link_to user_path(@podcast.user) do
            image_tag 'default_avatar.jpg', width: 84, alt: 'default user avatar'
          end
        end
      end
    %>
      <% if user_signed_in? && current_user.id != @podcast.user_id %>
        <div id="small-follow"><%= render 'users/follow_form' %></div>
      <% end %>
  </div>
  
  <div class="details-show">
      created by
   <h4 style="display:inline;"><%= link_to @podcast.user.username, user_path(@podcast.user) %></h4>
   &nbsp;<%= time_ago_in_words(@podcast.created_at) %> ago for 
   <%= link_to @group.title, group_path(@group) %>
      <br />
      <% @podcast.tag_list.map.each do |tag| %>
        <div class="tags"><%= link_to tag, tag_path(tag) %></div>
      <% end %><br />

      <i class="fa fa-microphone" title="episodes"></i>&nbsp;&nbsp;<%= @podcast.episodes.count %>&nbsp;Episodes<br />
  </div>
    
<% @episodes.each do |episode| %>
  <div class = "table">
    <div class = "table-row">
      <div class="table-cell" style="width: 45%; line-height: 1.4;">
        <%= link_to episode.title, podcast_episode_path(@podcast, episode) %>
      </div>
      <div class="table-cell" style="width: 55%; float: right;">
        <div class="small" style="float: right; font-size: 12px;">44 minutes<span style="margin-right: 26px;"></span><%= episode.created_at.strftime("%b %d, %Y") %></div>
      </div>
    </div>
  </div>
<% end %>