<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    
    <% if content_for?(:meta_og) %>
        <%= yield :meta_og %>
    <% else %>
        <meta property="og:title" content="Glipboard.com" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://glipboard.com" />
        <%= tag :meta, property: 'og:image', content: image_url('logo.png') %>
    <% end %>

    <%= favicon_link_tag 'favicons/favicon.ico' %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Fjalla+One|Open+Sans|Roboto" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css" rel="stylesheet">
    <script src="https://use.typekit.net/tfe2ipi.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>
    <%= render "shared/nav" %>
    
    <div class="wrapper">
      <% if flash[:notice] %>
        <div class="notice"><%= notice %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert"><%= alert %></div>
      <% end %>
      
      <%= yield %>
    </div>
    
    <%= render 'shared/footer' %>
  </body>
</html>
