<!DOCTYPE html>
<html>
  <head>
    <title>Glipboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-header">
      <div class="logo-wrapper">
        <%= link_to image_tag("logo.png", alt: "logo"), root_path %>
          <div class="buttons"><%= link_to 'New Glip', new_glip_path %></div>
          <div class="buttons"><%= link_to 'New Blog', new_blog_path %></div>

          <%- if user_signed_in? %>
            <div class="buttons-black"><%= link_to t('auth.sign_out'), destroy_user_session_path, method: 'delete' %></div>
          <% else %>
            <div class="buttons-black"><%= link_to t('auth.sign_in'), new_user_session_path %></div>
            <div class="buttons-black"><%= link_to t('auth.sign_up'), new_user_registration_path %></div>
          <% end %>

      </div>
    </div>
    
    <div class="wrapper">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>  
    
    <div class="wrapper">
      <%= yield %>
    </div>

  </body>
</html>
