<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css" rel="stylesheet">
    <script src="https://use.typekit.net/tfe2ipi.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/nav" %>
    
    <% if current_user %>
      <div class="user-welcome">Good to see you, <%= link_to current_user.username, current_user %>!</div>
    <% end %>
    
    <div class="wrapper">
      <% if flash[:notice] %>
        <div class="notice"><%= notice %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert"><%= alert %></div>
      <% end %>
      
      <%= yield %>
    </div>
    
    <%= render 'shared/footer' %>
  </body>
</html>
